<!--<mat-tab-group>-->
<!--  <mat-tab-nav-bar>-->
<!--    <a mat-tab-link routerLink="/all">All</a>-->
<!--    <a mat-tab-link routerLink="/completed">Completed</a>-->
<!--    <a mat-tab-link routerLink="/active">Active</a>-->
<!--  </mat-tab-nav-bar>-->

<!--  &lt;!&ndash; Добавьте сюда ваш контент с использованием mat-tab &ndash;&gt;-->
<!--  <mat-tab label="All">-->
<!--    &lt;!&ndash; Ваш контент для вкладки "All" &ndash;&gt;-->
<!--  </mat-tab>-->
<!--  <mat-tab label="Completed">-->
<!--    &lt;!&ndash; Ваш контент для вкладки "Completed" &ndash;&gt;-->
<!--  </mat-tab>-->
<!--  <mat-tab label="Active">-->
<!--    &lt;!&ndash; Ваш контент для вкладки "Active" &ndash;&gt;-->
<!--  </mat-tab>-->
<!--</mat-tab-group>-->
<nav>
  <ul>
    <li><a routerLink="/all">All</a></li>
    <li><a routerLink="/completed">Completed</a></li>
    <li><a routerLink="/active">Active</a></li>
  </ul>
</nav>
<app-todo-add></app-todo-add>
<app-todo-filter></app-todo-filter>

<router-outlet></router-outlet>
